{% capture blank %}
    {% assign global_scope_icon_type = icon_type %}
    {% assign global_scope_icon_link = icon_link %}
    {% assign global_scope_alt_text = alt_text %}
    {% assign global_scope_first_char = first_char %}
    {% assign global_scope_new_tab = new_tab %}
    {% assign global_scope_fa_class = fa_class %}
    {% assign global_scope_link_text = link_text %}
    {% assign global_scope_analytics_category = analytics_category %}
    {% assign global_scope_analytics_label = analytics_label %}
    {% assign global_scope_blank = blank %}
    {% assign global_scope_return = return %}
    {% assign global_scope_icon = icon %}

    {% assign icon_type = include.type %}
    {% assign icon_link = include.link %}
    {% for icon in site.data.icon-types %}
        {% if icon_type == icon.type %}
            {% case icon.type %}
                {% when 'email' %}
                    {% assign icon_link = icon_link | prepend: 'mailto:' %}
                    {% assign alt_text = 'Email link' %}
                {% when 'phone' %}
                    {% assign icon_link = icon_link | remove: ' ' | remove: '-' | remove: '(' | remove: ')' | remove: '.' | prepend: 'tel:' %}
                    {% assign alt_text = 'Phone link' %}
                {% when 'twitter' %}
                    {% assign first_char = icon_link | slice: 0 %}
                    {% if first_char == '@' %}
                        {% assign icon_link = icon_link | remove: '@' | prepend: 'https://twitter.com/' %}
                    {% endif %}
                    {% capture alt_text %}'Visit our twitter page'{% endcapture %}
                {% else %}
                    {% capture alt_text %}'Visit our {{ icon_type }} page'{% endcapture %}
            {% endcase %}

            {% unless icon.type == 'phone' %}
                {% assign new_tab = true %}
            {% else %}
                {% assign new_tab = false %}
            {% endunless %}

            {% assign fa_class = icon.fa-default %}
            {% assign fa_style = 'fas' %}
            {% assign icon_styles = include.style | split: ' ' %}
            {% for style in icon_styles %}
                {% if style == 'square' and icon.fa-square != nil %}
                    {% assign fa_class = icon.fa-square %}
                {% elsif style == 'simple' and icon.fa-simple != nil %}
                    {% assign fa_class = icon.fa-simple %}
                {% endif %}
                {% if style == 'regular' or style == 'far' or style == 'r' %}
                    {% assign fa_style = 'far' %}
                {% elsif style == 'light' or style == 'fal' or style == 'l' %}
                    {% assign fa_style = 'fal' %}
                {% endif %}
            {% endfor %}
            {% if icon.brand %}
                {% assign fa_style = 'fab' %}
            {% endif %}

            {% if include.link_text %}
                {% assign link_text = include.link_text %}
            {% else %}
                {% assign link_text = include.link %}
            {% endif %}

            {% if icon.type == 'email' or icon.type == 'phone' %}
                {% assign analytics_category = 'Contact Link' %}
            {% else %}
                {% assign analytics_category = 'Social Link' %}
            {% endif %}

            {% if include.analytics %}
                {% assign analytics_label = include.analytics %}
            {% else %}
                {% capture analytics_label %}Clicked on {{ icon.type }} link to {{ icon_link }}{% endcapture %}
            {% endif %}

            {% capture return %}<!--
             --><a class="media-icon {{ icon.type }}-icon"
                  {% if new_tab %} target="_blank" {% endif %}
                  {% if include.microdata and icon.type == 'email' %} itemprop="email" {% endif %}
                  {% if include.microdata and icon.type == 'phone' %} itemprop="telephone" {% endif %}
                  {% if site.google_analytics %} data-analytics-category="{{ analytics_category }}" data-analytics-action="click" data-analytics-label="{{ analytics_label }}" {% endif %}
                  {% unless include.show_link %} aria-label="{{ alt_text }}" {% endunless %}
                  href="{{ icon_link }}"><!--
                  --><i class="fa-icon {{ fa_style }} fa-{{ fa_class }} no-select
                      {% if include.list %} fa-li {% endif %}" aria-hidden="true"></i><!--
                      {% if include.show_link %}
                     --><span class="media-icon-text">{{ link_text }}</span><!--
                      {% endif %}
             --></a><!--
         -->{% endcapture %}

        {% endif %}
    {% endfor %}

    {% assign icon_type = global_scope_icon_type %}
    {% assign icon_link = global_scope_icon_link %}
    {% assign alt_text = global_scope_alt_text %}
    {% assign first_char = global_scope_first_char %}
    {% assign new_tab = global_scope_new_tab %}
    {% assign fa_class = global_scope_fa_class %}
    {% assign link_text = global_scope_link_text %}
    {% assign analytics_category = global_scope_analytics_category %}
    {% assign analytics_label = global_scope_analytics_label %}
    {% assign blank = global_scope_blank %}
    {% assign icon = global_scope_icon %}
{% endcapture %}{{ return }}{% assign return = global_scope_return %}
